<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=|DataDirectory|\Database.sqlite3"/>
  </connectionStrings>

  <appSettings>
    <add key="PayPalLogger" value="PayPal.Log.DiagnosticsLogger"/>
  </appSettings>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SignIn.aspx" defaultUrl="~/Default.aspx?SignedIn=True" name=".ASPXAUTH"/>
    </authentication>
    <customErrors mode="On" defaultRedirect="Error.aspx"/>
    <compilation debug="true"/>
  </system.web>
  
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="~/Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="PayPal">
        <listeners>
          <add name="text"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="DiagnosticsLogger.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>  
</configuration>